.navbar-nav{
	margin-right: 3px;
}

button {
	margin-right: 30px;
	border-color: crimson;

}

body {
	background-size: cover;
	background-blend-mode: overlay;
	z-index: 
}

.jumb {
	background-image: url(https://media.istockphoto.com/photos/bible-study-multi-ethnic-group-multi-ethnic-group-of-friends-meet-for-picture-id1333641112?b=1&k=20&m=1333641112&s=170667a&w=0&h=_0ClNNxQJ-Z2beDR_B4R5KkdO8rLcJbZeTSI31qPaIY=);
	background-size: cover;
	background-blend-mode: overlay;
	background-color: rgba(49, 12, 12, 0.76);
	height: 78vh;
	padding-top: 10rem;
	color: white;
}

nav {
	background-image: url('images/photo-1488190211105-8b0e65b80b4e.jpg');
	background-size: cover;
	background-blend-mode: overlay;
}

.bg-light {
    background-color: #520d14 !important;
}

.display-4 {
	font-size: 65px;
}

.search-button {
	margin-top: 1.5rem;
	width: 1200px;
	margin-left: 7rem;
}

.tut {
	margin-top: 3rem;
}

.left-col {
	width: 130px;
	margin-left: 150px;
}


.footer {
	margin-top: 2rem;
	background-color: #520d14 !important;
	padding-top: 10px;
}

.media {

}


.footer-img {
	width: 20px;
}

.copyright {
	color: white;
}

.info1 {
	font-size: 25px;
}

.login {
	margin-top: 7rem;
	margin-bottom: 8rem;
}